.jumbotron{
    text-align: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQWiSLaaDu066qS3MFNVjfxg8tsMghzqA2k8PzZ02OqKoSwzbF5); background-size: 25%;
}
.background{
    background-image: linear-gradient(#602f6b, #066d80);
}
p{
    color:black;
}
